* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted purple;
    overflow-x: hidden;
}

body {
    width: 100vw;
    min-height: 500vh;
    overflow-x: hidden;
    line-height: 1.8;
    border: 1px dotted purple;
    white-space: wrap;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page {
    /* min-width: 100%; */
    min-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* position: fixed; */
}

.page1 {
    /* background-color: aqua; */
}

.page2 {
    /* background-color: rgb(0, 255, 0); */
}

.page3 {
    /* background-color: rgb(126, 126, 227); */
}

.page4 {
    /* background-color: rgb(237, 247, 197); */
}

.page5 {
    /* background-color: rgb(252, 197, 126); */
}

.cogwheel {
    position: fixed;
    width: 200px;
    height: auto;
    /* transform: scale(0.5); */
}

.cogwheel1 {
    bottom: 450px;
    left: 40px;
}

.cogwheel2 {
    bottom: 83px;
    left: 40px;
}

.cogwheel3 {
    bottom: 450px;
    right: 40px;
}

.cogwheel4 {
    bottom: 83px;
    right: 40px;
}

.animation-rotate-cw {
    animation: rotate-cw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animation-rotate-ccw {
    animation: rotate-ccw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.toothtrack {
    position: fixed;
    bottom: -835px;
    width: 80px;
    height: auto;
}

.toothtrack1 {
    left: 220px;;
}

.toothtrack2 {
    right: 220px;
}

.animation-translate-y {
    animation: translate-y 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animation-translate-y-right {
    animation: translate-y-right 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

svg {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    animation: rotate-cw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes rotate-cw {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-ccw {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes translate-y {
    to {
        transform: translateY(-830px);
    }
}

@keyframes translate-y-right {
    to {
        transform: translateY(-587px);
    }
}