:root {
    --background-color: rgb(221, 160, 126);
    --background-color: rgb(169, 177, 214);
    --background-color: rgb(216, 234, 249);
    --foreground-color: rgb(187, 187, 187);
    --orange: rgb(250, 126, 57);
    --lightorange: rgb(248, 164, 113);
    --lightorange: rgb(254, 184, 140);
    --lightorangetransparent: rgba(254, 184, 140, 0.9);
    --lightyellow: rgb(245, 254, 139);
    --lightgreen: rgba(128, 252, 128, 0.95);
    --lightgreentransparent: rgba(128, 252, 128, 0.9);
    --shadow-color: lightblue;
    --darkblue: rgb(10, 10, 110);
    --lightblue: rgba(0, 212, 255, 1);
    --lightblue: rgb(118, 186, 241);
    --lightblue: rgb(113, 190, 252);
    --lightblue: rgb(122, 188, 241);

    --navigation-height: 5rem;
    --navigation-color: lavender;
    /* --navigation-color: var(--lightorange); */
    --navigation-color: var(--lightgreen);
    --navigation-color-transparent: var(--lightgreentransparent);
    --navigation-shadow: 0rem 0rem 1.2rem rgb(53, 37, 72);
    --background-color: lavender;
    --background-color: rgb(174, 174, 226);
    /* --background-color: rgb(177, 177, 177); */
    /* --background-color: rgb(40, 40, 40); */
    --header-color: var(--lightgreen);
    --header-color: var(--lightorange);
    --grid-color: white;
    --metal-color: rgb(128, 128, 128);

}

* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    /* border: 1px dotted purple; */
    /* font-family: Montserrat; */
    /* font-family: roboto; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: cursive;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    min-height: 400vh;
    overflow-x: hidden;
    line-height: 1.8;
    white-space: wrap;
    word-wrap: break-word;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    padding-right: 0.5rem;
    font-size: 1.7rem;
    font-weight: 100;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: var(--navigation-height);
    z-index: 100;
    background-color: var(--navigation-color);
    box-shadow: var(--navigation-shadow);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navigation-cog {
    /* padding-left: 0.5rem;
    padding-left: 0.5rem; */
    max-height: 2rem;
    transition: transform 1.5s;
}

.navigation-cog:hover {
    transform: rotate(360deg);
}

.a-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg {
    height: 2rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: transform 1s;
}

.svg:hover {
    transform: scale(1.2);
}

.links {
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow-y: hidden;
}

.link {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    font-weight: 100;

    display: block;
    transition: transform 500ms ease-out;
}

.link:hover {
    transform: scale(1.1);
}

.cogwheel {
    position: fixed;
    width: 200px;
    height: auto;
}

/* -------------------------------------------------LEFT COGWHEELS------------------------------------------------------ */
.cogwheel25left {
    bottom: 2351px;
    left: 40px;
}

.cogwheel24left {
    bottom: 3159px;
    left: -58px;
}

.cogwheel23left {
    bottom: 2351px;
    left: 40px;
}

.cogwheel22left {
    bottom: 2867px;
    left: -60px;
}

.cogwheel21left {
    bottom: 2939px;
    left: 40px;
}

.cogwheel20left {
    bottom: 2575px;
    left: -58px;
}

.cogwheel19left {
    bottom: 2645px;
    left: 40px;
}

.cogwheel18left {
    bottom: 2283px;
    left: -60px;
}

.cogwheel17left {
    bottom: 2351px;
    left: 40px;
}

.cogwheel16left {
    bottom: 2191px;
    left: -58px;
}

.cogwheel15left {
    bottom: 2057px;
    left: 40px;
}

.cogwheel14left {
    bottom: 1899px;
    left: -60px;
}

.cogwheel13left {
    bottom: 1763px;
    left: 40px;
}

.cogwheel12left {
    bottom: 1607px;
    left: -58px;
}

.cogwheel11left {
    bottom: 1469px;
    left: 40px;
}

.cogwheel10left {
    bottom: 1315px;
    left: -60px;
}

.cogwheel09left {
    bottom: 1175px;
    left: 40px;
}

.cogwheel08left {
    bottom: 1023px;
    left: -58px;
}

.cogwheel07left {
    bottom: 881px;
    left: 40px;
}

.cogwheel06left {
    bottom: 731px;
    left: -60px;
}

.cogwheel05left {
    bottom: 587px;
    left: 40px;
}

.cogwheel04left {
    bottom: 439px;
    left: -58px;
}

.cogwheel03left {
    bottom: 293px;
    left: 40px;
}

.cogwheel02left {
    bottom: 147px;
    left: -60px;
}

.cogwheel01left {
    bottom: 0px;
    left: 40px;
}

/* -------------------------------------------------LEFT COGWHEELS------------------------------------------------------ */
.cogwheel25right {
    bottom: 2351px;
    right: 40px;
}

.cogwheel24right {
    bottom: 3159px;
    right: -58px;
}

.cogwheel23right {
    bottom: 2351px;
    right: 40px;
}

.cogwheel22right {
    bottom: 2867px;
    right: -60px;
}

.cogwheel21right {
    bottom: 2939px;
    right: 40px;
}

.cogwheel20right {
    bottom: 2575px;
    right: -58px;
}

.cogwheel19right {
    bottom: 2645px;
    right: 40px;
}

.cogwheel18right {
    bottom: 2283px;
    right: -60px;
}

.cogwheel17right {
    bottom: 2351px;
    right: 40px;
}

.cogwheel16right {
    bottom: 2191px;
    right: -58px;
}

.cogwheel15right {
    bottom: 2057px;
    right: 40px;
}

.cogwheel14right {
    bottom: 1899px;
    right: -60px;
}

.cogwheel13right {
    bottom: 1763px;
    right: 40px;
}

.cogwheel12right {
    bottom: 1607px;
    right: -58px;
}

.cogwheel11right {
    bottom: 1469px;
    right: 40px;
}

.cogwheel10right {
    bottom: 1315px;
    right: -60px;
}

.cogwheel09right {
    bottom: 1175px;
    right: 40px;
}

.cogwheel08right {
    bottom: 1023px;
    right: -58px;
}

.cogwheel07right {
    bottom: 881px;
    right: 40px;
}

.cogwheel06right {
    bottom: 731px;
    right: -60px;
}

.cogwheel05right {
    bottom: 587px;
    right: 40px;
}

.cogwheel04right {
    bottom: 439px;
    right: -58px;
}

.cogwheel03right {
    bottom: 293px;
    right: 40px;
}

.cogwheel02right {
    bottom: 147px;
    right: -60px;
}

.cogwheel01right {
    bottom: 0px;
    right: 40px;
}

.toothtrack {
    position: fixed;
    bottom: -833px;
    width: 53px;
    height: auto;
}

.toothtrack1 {
    left: 219px;
}

.toothtrack2 {
    right: 219px;
}

.animation-rotate-cw {
    animation: rotate-cw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animation-rotate-ccw {
    animation: rotate-ccw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.page {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card {
    padding: 2rem;
    width: calc(100% - 300px - 300px - 20px - 20px);
    height: 70%;
    z-index: 10;
    background-color: var(--grid-color);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: 0.3s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.card:hover {
    box-shadow: 16px 32px 48px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    min-width: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--metal-color);
    border-radius: 25px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.data {
    min-width: calc(50%);
    font-weight: 500;
    font-size: 1.2rem;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header";
    justify-items: center;
    align-items: space-between;
    column-gap: 2%;
    row-gap: 1rem;
}

.grid-item {
    width: 100%;
}

.header {
    grid-area: header;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--header-color);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-translate-y {
    animation: translate-y 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes rotate-cw {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-ccw {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes translate-y {
    to {
        transform: translateY(-467px);
    }
}

@media (max-width: 1366px) {
    .cogwheel {
        position: fixed;
        width: 100px;
        height: auto;
    }

    /* -------------------------------------------------LEFT COGWHEELS------------------------------------------------------ */
    .cogwheel25left {
        bottom: 1754px;
        left: 48px;
    }

    .cogwheel24left {
        bottom: 1682px;
        left: 0px;
    }

    .cogwheel23left {
        bottom: 1608px;
        left: 48px;
    }

    .cogwheel22left {
        bottom: 1535px;
        left: 0px;
    }

    .cogwheel21left {
        bottom: 1461px;
        left: 48px;
    }

    .cogwheel20left {
        bottom: 1387px;
        left: 0px;
    }

    .cogwheel19left {
        bottom: 1315px;
        left: 48px;
    }

    .cogwheel18left {
        bottom: 1244px;
        left: 0px;
    }

    .cogwheel17left {
        bottom: 1170px;
        left: 48px;
    }

    .cogwheel16left {
        bottom: 1097px;
        left: 0px;
    }

    .cogwheel15left {
        bottom: 1024px;
        left: 48px;
    }

    .cogwheel14left {
        bottom: 950px;
        left: 0px;
    }

    .cogwheel13left {
        bottom: 877px;
        left: 48px;
    }

    .cogwheel12left {
        bottom: 805px;
        left: 0px;
    }

    .cogwheel11left {
        bottom: 732px;
        left: 48px;
    }

    .cogwheel10left {
        bottom: 659px;
        left: 0px;
    }

    .cogwheel09left {
        bottom: 586px;
        left: 48px;
    }

    .cogwheel08left {
        bottom: 514px;
        left: 0px;
    }

    .cogwheel07left {
        bottom: 440px;
        left: 48px;
    }

    .cogwheel06left {
        bottom: 367px;
        left: 0px;
    }

    .cogwheel05left {
        bottom: 294px;
        left: 48px;
    }

    .cogwheel04left {
        bottom: 220px;
        left: 0px;
    }

    .cogwheel03left {
        bottom: 147px;
        left: 48px;
    }

    .cogwheel02left {
        bottom: 73px;
        left: 0px;
    }

    .cogwheel01left {
        bottom: 0px;
        left: 48px;
    }

    /* ------------------------------------------------RIGHT COGWHEELS------------------------------------------------------ */
    .cogwheel25right {
        bottom: 1754px;
        right: 48px;
    }

    .cogwheel24right {
        bottom: 1682px;
        right: 0px;
    }

    .cogwheel23right {
        bottom: 1608px;
        right: 48px;
    }

    .cogwheel22right {
        bottom: 1535px;
        right: 0px;
    }

    .cogwheel21right {
        bottom: 1461px;
        right: 48px;
    }

    .cogwheel20right {
        bottom: 1387px;
        right: 0px;
    }

    .cogwheel19right {
        bottom: 1315px;
        right: 48px;
    }

    .cogwheel18right {
        bottom: 1244px;
        right: 0px;
    }

    .cogwheel17right {
        bottom: 1170px;
        right: 48px;
    }

    .cogwheel16right {
        bottom: 1097px;
        right: 0px;
    }

    .cogwheel15right {
        bottom: 1024px;
        right: 48px;
    }

    .cogwheel14right {
        bottom: 950px;
        right: 0px;
    }

    .cogwheel13right {
        bottom: 877px;
        right: 48px;
    }

    .cogwheel12right {
        bottom: 805px;
        right: 0px;
    }

    .cogwheel11right {
        bottom: 732px;
        right: 48px;
    }

    .cogwheel10right {
        bottom: 659px;
        right: 0px;
    }

    .cogwheel09right {
        bottom: 586px;
        right: 48px;
    }

    .cogwheel08right {
        bottom: 514px;
        right: 0px;
    }

    .cogwheel07right {
        bottom: 440px;
        right: 48px;
    }

    .cogwheel06right {
        bottom: 367px;
        right: 0px;
    }

    .cogwheel05right {
        bottom: 294px;
        right: 48px;
    }

    .cogwheel04right {
        bottom: 220px;
        right: 0px;
    }

    .cogwheel03right {
        bottom: 147px;
        right: 48px;
    }

    .cogwheel02right {
        bottom: 73px;
        right: 0px;
    }

    .cogwheel01right {
        bottom: 0px;
        right: 48px;
    }

    .toothtrack {
        position: fixed;
        bottom: -823px;
        width: 33px;
        height: auto;
    }

    .toothtrack1 {
        left: 136px;
    }

    .toothtrack2 {
        right: 136px;
    }

    .card {
        width: calc(100% - 200px - 200px - 20px - 20px);
    }

    @keyframes translate-y {
        to {
            transform: translateY(-292px);
        }
    }
}

@media(max-width: 1200px) {
    .body {
        line-height: 1.2;
        overflow-y: hidden;
    }

    .card {
        height: 75%;
        flex-direction: column;
        justify-content: space-between;
    }

    .image-container {
        max-height: 30%;
        height: 30%;
    }

    .image {
        object-fit: contain;
    }

    .image-experience {
        content: url("./images/image08.png");
    }

    .header {
        font-size: 1.2rem;
    }

    .data {
        max-height: 70%;
        height: 70%;
        row-gap: 0.1rem;
        font-size: 1rem;
    }
}

@media(max-width: 900px) {
    body {
        min-height: 400vh;
    }

    .navigation {
        display: none;
    }

    .hamburger-menu {
        width: 100%;
        /* height: var(--navigation-height); */
        min-height: var(--navigation-height);
        position: fixed;
        z-index: 100;
        box-shadow: var(--navigation-shadow);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .hamburger-items {
        width: 100%;
        min-height: var(--navigation-height);
        background-color: var(--navigation-color);
        box-shadow: var(--navigation-shadow);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*--------------------------------------------------------HAMBURGER ICON START-----------------------------------------------------------------------*/
    .hamburger-icon {
        width: auto;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: transform 1s;
    }

    /* .hamburger:hover {
        transform: scale(1.2);
    } */

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    h1 {
        text-align: center;
    }

    .hamburger {
        margin: 0 auto;
        /* margin-top: 30px; */
        width: 2rem;
        height: 2rem;
        position: relative;
        cursor: pointer;
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: black;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13.5px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 13.5px;
    }

    .hamburger4 .bar5 {
        bottom: 0px;
    }

    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;

    }

    .checkbox4:checked+label>.hamburger4>.bar1 {
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar2 {
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar3 {
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar4 {
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar5 {
        bottom: 13.5px;
        background-color: transparent;
    }

    /*---------------------------------------------------------HAMBURGER ICON END------------------------------------------------------------------------*/

    #dropdown-menu {
        width: 100%;
        background-color: var(--navigation-color-transparent);
        max-height: 0;
        transition: all 1.5s ease;
        transition-delay: 0s;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* .hamburger-link {
        width: 100%;
        border-bottom: solid 1px var(--lightorange);
        text-align: center;
    } */

    .cogwheel {
        width: 50px;
        height: auto;
    }

    /* -------------------------------------------------LEFT COGWHEELS------------------------------------------------------ */
    .cogwheel25left {
        bottom: 900px;
        left: 24px;
    }

    .cogwheel24left {
        bottom: 862px;
        left: 0px;
    }

    .cogwheel23left {
        bottom: 825px;
        left: 24px;
    }

    .cogwheel22left {
        bottom: 787px;
        left: 0px;
    }

    .cogwheel21left {
        bottom: 750px;
        left: 24px;
    }

    .cogwheel20left {
        bottom: 712px;
        left: 0px;
    }

    .cogwheel19left {
        bottom: 675px;
        left: 24px;
    }

    .cogwheel18left {
        bottom: 637px;
        left: 0px;
    }

    .cogwheel17left {
        bottom: 600px;
        left: 24px;
    }

    .cogwheel16left {
        bottom: 562px;
        left: 0px;
    }

    .cogwheel15left {
        bottom: 525px;
        left: 24px;
    }

    .cogwheel14left {
        bottom: 487px;
        left: 0px;
    }

    .cogwheel13left {
        bottom: 450px;
        left: 24px;
    }

    .cogwheel12left {
        bottom: 412px;
        left: 0px;
    }

    .cogwheel11left {
        bottom: 375px;
        left: 24px;
    }

    .cogwheel10left {
        bottom: 337px;
        left: 0px;
    }

    .cogwheel09left {
        bottom: 300px;
        left: 24px;
    }

    .cogwheel08left {
        bottom: 263px;
        left: 0px;
    }

    .cogwheel07left {
        bottom: 225px;
        left: 24px;
    }

    .cogwheel06left {
        bottom: 188px;
        left: 0px;
    }

    .cogwheel05left {
        bottom: 150px;
        left: 24px;
    }

    .cogwheel04left {
        bottom: 113px;
        left: 0px;
    }

    .cogwheel03left {
        bottom: 75px;
        left: 24px;
    }

    .cogwheel02left {
        bottom: 38px;
        left: 0px;
    }

    .cogwheel01left {
        bottom: 0px;
        left: 24px;
    }

    /* --------------------------------------RIGHT COGWHEELS----------------------------------------------- */
    .cogwheel25right {
        bottom: 900px;
        right: 24px;
    }

    .cogwheel24right {
        bottom: 862px;
        right: 0px;
    }

    .cogwheel23right {
        bottom: 825px;
        right: 24px;
    }

    .cogwheel22right {
        bottom: 787px;
        right: 0px;
    }

    .cogwheel21right {
        bottom: 750px;
        right: 24px;
    }

    .cogwheel20right {
        bottom: 712px;
        right: 0px;
    }

    .cogwheel19right {
        bottom: 675px;
        right: 24px;
    }

    .cogwheel18right {
        bottom: 637px;
        right: 0px;
    }

    .cogwheel17right {
        bottom: 600px;
        right: 24px;
    }

    .cogwheel16right {
        bottom: 562px;
        right: 0px;
    }

    .cogwheel15right {
        bottom: 525px;
        right: 24px;
    }

    .cogwheel14right {
        bottom: 487px;
        right: 0px;
    }

    .cogwheel13right {
        bottom: 450px;
        right: 24px;
    }

    .cogwheel12right {
        bottom: 412px;
        right: 0px;
    }

    .cogwheel11right {
        bottom: 375px;
        right: 24px;
    }

    .cogwheel10right {
        bottom: 337px;
        right: 0px;
    }

    .cogwheel09right {
        bottom: 300px;
        right: 24px;
    }

    .cogwheel08right {
        bottom: 263px;
        right: 0px;
    }

    .cogwheel07right {
        bottom: 225px;
        right: 24px;
    }

    .cogwheel06right {
        bottom: 188px;
        right: 0px;
    }

    .cogwheel05right {
        bottom: 150px;
        right: 24px;
    }

    .cogwheel04right {
        bottom: 113px;
        right: 0px;
    }

    .cogwheel03right {
        bottom: 75px;
        right: 24px;
    }

    .cogwheel02right {
        bottom: 38px;
        right: 0px;
    }

    .cogwheel01right {
        bottom: 0px;
        right: 24px;
    }

    .toothtrack {
        bottom: -332px;
        width: 17px;
    }

    .toothtrack1 {
        left: 68px;
        /* content: url("./images/toothtrack22left.png"); */
    }

    .toothtrack2 {
        right: 68px;
        /* content: url("./images/toothtrack22right.png"); */
    }

    .page {
        height: 100vh;
        min-height: 100vh;
    }

    .card {
        width: calc(100% - 120px - 120px - 10px - 10px);
        height: 75%;
        justify-content: flex-start;
    }

    .image-container {
        height: auto;
        max-height: 30%;
    }

    .header {
        font-size: 1rem;
    }

    @keyframes rotate-cw {
        to {
            transform: rotate(720deg);
        }
    }

    @keyframes rotate-ccw {
        to {
            transform: rotate(-720deg);
        }
    }

    @keyframes translate-y {
        to {
            transform: translateY(-301px);
        }
    }
}