:root {
    --background-color: rgb(221, 160, 126);
    --foreground-color: rgb(187, 187, 187);
    --orange: rgb(250, 126, 57);
    --shadow-color: lightblue;
    --darkblue: rgb(10, 10, 110);
    --lightblue: rgba(0, 212, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


html {
    width: 100%;
    /* border: 1px dotted purple; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: cursive;
    /* font-family: roboto; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    min-height: 400vh;
    overflow-x: hidden;
    line-height: 1.8;
    /* border: 1px dotted purple; */
    white-space: wrap;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    /* padding-left: 1rem;
    padding-right: 1rem; */

    /* background-color: var(--foreground-color); */
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(48, 48, 176) 50%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0.2rem 0.2rem 1rem black;
    /* border-style: solid; */
    /* border: 0px 0px 5px 0px; */
    /* border-top: 0px;
    border-color: black;
    border-bottom-width: 0.2rem;
    border-bottom-color: black; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.links {
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow-y: hidden;
}

.link {
    /* padding-left: 1rem; */
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    /* transition: 0.5s; */
    font-weight: 100;

    display: block;
    transition: transform 300ms ease-out;
}

.link:hover {
    transform: scale(1.1);
}

.cogwheel {
    position: fixed;
    width: 200px;
    height: auto;
    /* transform: scale(0.5); */
}

.cogwheel01left {
    bottom: 587px;
    left: 40px;
}

.cogwheel02left {
    bottom: 439px;
    left: -58px;
}

.cogwheel03left {
    bottom: 293px;
    left: 40px;
}

.cogwheel04left {
    bottom: 147px;
    left: -60px;
}

.cogwheel05left {
    bottom: 0px;
    left: 40px;
}

.cogwheel01right {
    bottom: 587px;
    right: 40px;
}

.cogwheel02right {
    bottom: 439px;
    right: -58px;
}

.cogwheel03right {
    bottom: 293px;
    right: 40px;
}

.cogwheel04right {
    bottom: 147px;
    right: -60px;
}

.cogwheel05right {
    bottom: 0px;
    right: 40px;
}

.toothtrack {
    position: fixed;
    bottom: -845px;
    width: 80px;
    height: auto;
}

.toothtrack1 {
    left: 200px;
}

.toothtrack2 {
    right: 200px;
}

.animation-rotate-cw {
    animation: rotate-cw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animation-rotate-ccw {
    animation: rotate-ccw 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.page {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.page1 {
    /* background-color: aqua; */
}

.page2 {
    /* background-color: rgb(0, 255, 0); */
}

.page3 {
    /* background-color: rgb(126, 126, 227); */
}

.page4 {
    /* background-color: rgb(237, 247, 197); */
}

.page5 {
    /* background-color: rgb(252, 197, 126); */
}

.card {
    padding: 2rem;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    width: calc(100% - 300px - 300px - 20px - 20px);
    height: 70%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    z-index: 10;
}

.card:hover {
    box-shadow: 16px 32px 48px 16px rgba(0, 0, 0, 0.2);
}

/* .stick {
    position: absolute;
    top: calc(50% - 75px);
    left: 287px;
    z-index: 5;
    width: calc(100% - 287px - 288px);
    height: 150px;
} */

.image-container {
    min-width: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--lightblue); */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data {
    min-width: calc(50%);
    font-weight: 500;
    font-size: 1.2rem;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header";
    justify-items: center;
    align-items: space-between;
    column-gap: 2%;
    row-gap: 1rem;
}

.grid-item {
    width: 100%;
}

.header {
    grid-area: header;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: rgba(0, 212, 255, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-translate-y {
    animation: translate-y 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes rotate-cw {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-ccw {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes translate-y {
    to {
        transform: translateY(-587px);
    }
}

@media (max-width: 1366px) {
    .cogwheel {
        position: fixed;
        width: 100px;
        height: auto;
        /* transform: scale(0.5); */
    }

    .cogwheel01left {
        bottom: 294px;
        left: 48px;
    }

    .cogwheel02left {
        bottom: 220px;
        left: 0px;
    }

    .cogwheel03left {
        bottom: 147px;
        left: 48px;
    }

    .cogwheel04left {
        bottom: 73px;
        left: 0px;
    }

    .cogwheel05left {
        bottom: 0px;
        left: 48px;
    }

    .cogwheel01right {
        bottom: 294px;
        right: 48px;
    }

    .cogwheel02right {
        bottom: 220px;
        right: 0px;
    }

    .cogwheel03right {
        bottom: 147px;
        right: 48px;
    }

    .cogwheel04right {
        bottom: 73px;
        right: 0px;
    }

    .cogwheel05right {
        bottom: 0px;
        right: 48px;
    }

    .toothtrack {
        position: fixed;
        bottom: -826px;
        width: 40px;
        height: auto;
    }

    .toothtrack1 {
        left: 130px;
    }

    .toothtrack2 {
        right: 130px;
    }

    .card {
        width: calc(100% - 200px - 200px - 20px - 20px);
    }

    @keyframes translate-y {
        to {
            transform: translateY(-294px);
        }
    }
}

@media(max-width: 1200px) {
    .body {
        line-height: 1.2;
        overflow-y: hidden;
    }
    .card {
        height: 75%;
        flex-direction: column;
        justify-content: space-between;
    }
    .image-container {
        max-height: 30%;
        height: 30%;
    }
    .image {
        /* height: 100%; */
        /* width: fit-content; */
        object-fit: contain;
    }
    .image-experience {
        content: url("./images/image08.png");
    }
    .data {
        max-height: 70%;
        height: 70%;
        row-gap: 0.1rem;
        font-size: 1rem;
    }
}

@media(max-width: 900px) {
    body {
        min-height: 400vh;
    }

    .navigation {
        display: none;
    }

    .hamburger-menu {
        width: 100%;
        position: fixed;
        z-index: 100;
        font-size: 0.7rem;
        background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(48, 48, 176) 50%, rgba(0, 212, 255, 1) 100%);
        box-shadow: 0.2rem 0.2rem 1rem black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cogwheel {
        width: 50px;
        height: auto;
    }

    .cogwheel01left {
        bottom: 150px;
        left: 24px;
    }

    .cogwheel02left {
        bottom: 113px;
        left: 0px;
    }

    .cogwheel03left {
        bottom: 75px;
        left: 24px;
    }

    .cogwheel04left {
        bottom: 38px;
        left: 0px;
    }

    .cogwheel05left {
        bottom: 0px;
        left: 24px;
    }

    .cogwheel01right {
        bottom: 150px;
        right: 24px;
    }

    .cogwheel02right {
        bottom: 113px;
        right: 0px;
    }

    .cogwheel03right {
        bottom: 75px;
        right: 24px;
    }

    .cogwheel04right {
        bottom: 38px;
        right: 0px;
    }

    .cogwheel05right {
        bottom: 0px;
        right: 24px;
    }

    .toothtrack {
        bottom: -820px;
        width: 17px;
    }

    .toothtrack1 {
        left: 68px;
        content: url("./images/toothtrack22left.png");
    }

    .toothtrack2 {
        right: 68px;
        content: url("./images/toothtrack22right.png");
    }

    .page {
        height: 100vh;
        min-height: 100vh;
    }

    .card {
        width: calc(100% - 120px - 120px - 10px - 10px);
        height: 75%;
    }

    .header {
        font-size: 1rem;
    }

    @keyframes rotate-cw {
        to {
            transform: rotate(720deg);
        }
    }
    
    @keyframes rotate-ccw {
        to {
            transform: rotate(-720deg);
        }
    }
    
    @keyframes translate-y {
        to {
            transform: translateY(-301px);
        }
    }
}